In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, upper

In [2]:
spark = SparkSession.builder.appName("ColExampleApp").getOrCreate()

In [3]:
df1 = spark.createDataFrame([(1, "Alice"), (2, "Bob")], ["id", "value"]).alias("t1")
df2 = spark.createDataFrame([(1, "X"), (2, "Y")], ["id", "value"]).alias("t2")

joined = df1.join(df2, df1["id"] == df2["id"])

result = joined.select(df2["value"])
result.show()

+-----+
|value|
+-----+
|    X|
|    Y|
+-----+

In [4]:
data = [(1, "Alice", 20), (2, "Bob", 11), (3, "Charlie", 30)]
columns = ["id", "name", "age"]

if_expr = when(col('age') < 18, 'underage').otherwise('adult')
df3 = spark.createDataFrame(data, columns).withColumn('age_category', if_expr)
df3.show()

+---+-------+---+------------+
| id|   name|age|age_category|
+---+-------+---+------------+
|  1|  Alice| 20|       adult|
|  2|    Bob| 11|    underage|
|  3|Charlie| 30|       adult|
+---+-------+---+------------+

In [5]:
result = joined.withColumn("flag", when(df1["id"] > 1, 1).otherwise(0)).filter(joined["flag"] > 0)

result.show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `flag` cannot be resolved. Did you mean one of the following? [`id`, `value`, `id`, `value`].

In [6]:
df3.withColumn("name", upper(df3["name"])).filter(df3["name"] == "ALICE").toPandas()

Empty DataFrame
Columns: [id, name, age, age_category]
Index: []

In [7]:
df3.withColumn("name", upper(df3["name"])).filter(col("name") == "ALICE").toPandas()

   id   name  age age_category
0   1  ALICE   20        adult